root = true

[*]
ident_style = space
dfmt_brace_style = stroustrup
dfmt_space_after_cast = false
dfmt_space_after_keywords = true

[vkapi.d]
ident_size = 4

[app.d]
ident_size = 2

[musicplayer.d]
ident_size = 2
